<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial =>'layouts/head' %>
  <title>Rules</title>
</head>

<body>


<div id="full_box_middle">

  <div id="full_box_middle_left" style="text-align: center">

    <h2>Do you accept rules?</h2>

    <%= link_to "Yes", :controller => :welcome, :action => :index %>



  </div>

</div>



</body>
</html>