<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial =>'layouts/head' %>
  <title>Gallery</title>
</head>

<body>
<header>
  <%= render :partial =>'layouts/header'%>
</header>

<div id="full_box_middle">

  <div id="full_box_middle_left">

    <h1 style="text-align: center;">Gallery</h1>

    <div class="row">
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/54e0d743435aa514f1dc8460962e33791c3ad6e04e507440752f72d39344c0_640.jpg" alt="Image" />
        <p>Something about image</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>yep</p>
      </div>
      <div class="column">
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>

      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/55e0dc444c50aa14f1dc8460962e33791c3ad6e04e507441722a72dd9345c7_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e5d64a4a5aa914f1dc8460962e33791c3ad6e04e507440712b7bd29644cd_640.jpg" alt="Image"/>
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/53e0d2474f51ae14f1dc8460962e33791c3ad6e04e50744172277fd7964ec6_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/55e0dc444c50aa14f1dc8460962e33791c3ad6e04e507441722a72dd9345c7_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/50e3d1464d50b10ff3d8992cc12c30771037dbf85254794e732f7bdc9744_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/53e0d2474f51ae14f1dc8460962e33791c3ad6e04e50744172277fd7964ec6_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/55e0dc444c50aa14f1dc8460962e33791c3ad6e04e507441722a72dd9345c7_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e5d64a4a5aa914f1dc8460962e33791c3ad6e04e507440712b7bd29644cd_640.jpg" alt="Image"/>
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/54e0d743435aa514f1dc8460962e33791c3ad6e04e507440752f72d39344c0_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/53e0d2474f51ae14f1dc8460962e33791c3ad6e04e50744172277fd7964ec6_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/55e0dc444c50aa14f1dc8460962e33791c3ad6e04e507441722a72dd9345c7_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e5d64a4a5aa914f1dc8460962e33791c3ad6e04e507440712b7bd29644cd_640.jpg" alt="Image"/>
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/57e8d34a4c56ab14f1dc8460962e33791c3ad6e04e50744172297cd59649c1_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>
      <div class="column" >
        <img src="https://randomwordgenerator.com/img/picture-generator/53e0d2474f51ae14f1dc8460962e33791c3ad6e04e50744172277fd7964ec6_640.jpg" alt="Image" />
        <p>asfasfasf</p>
      </div>

    </div>

  </div>

  <aside id="full_box_middle_right">
    <%= render :partial =>'layouts/activity' %>
  </aside>

</div>


<%= render :partial =>'layouts/footer' %>

</body>
</html>