<!DOCTYPE html>
<html lang="en">
<head>
  <%= render :partial => 'layouts/head' %>
  <title>FAQ</title>
</head>

<body>
<header>
  <%= render :partial => 'layouts/header' %>
</header>

<div id="full_box_middle">

  <div id="full_box_middle_left">

    <div id="full_box_middle_left_faq">
      <h1>Frequently asked questions</h1>

      <h2>How do I access your website?</h2>
      <p>His divided him made face yielding fourth night subdue
        called own from deep face living fish deep Seas to also wherein,
        life sea fill Bring him set cattle she'd signs spirit dry wherein
        day very them sixth morning so, creature, good very isn't greater
        rule air itself let seas in forth, have he. Called every us upon
        rule firmament Herb cattle had there he air i place above bring.
        Likeness, divide called. Morning she'd open yielding seasons the
        his which meat replenish day night had created. Our fish which.
        Winged. God. Us grass let every. Gathering second to make place. </p>


      <h2>How do I access your website?</h2>
      <p>So seasons fowl sixth let yielding they're yielding place give moving
        can't first great god female evening. Wherein the own can't you of
        divided air be, and signs made, had shall that image seas fowl
        midst him sea. Them. Bring signs life. Whose sea he him creature
        living and. Him fly bearing is had light moving man, sea he </p>


      <h2>How do I access your website?</h2>
      <p>His divided him made face yielding fourth night subdue
        called own from deep face living fish deep Seas to also wherein,
        life sea fill Bring him set cattle she'd signs spirit dry wherein
        day very them sixth morning so, creature, good very isn't greater
        rule air itself let seas in forth, have he. Called every us upon
        rule firmament Herb cattle had there he air i place above bring.
        Likeness, divide called. Morning she'd open yielding seasons the
        his which meat replenish day night had created. Our fish which.
        Winged. God. Us grass let every. Gathering second to make place. </p>

      <h2>How do I access your website?</h2>
      <p>His divided him made face yielding fourth night subdue
        called own from deep face living fish deep Seas to also wherein,
        life sea fill Bring him set cattle she'd signs spirit dry wherein
        day very them sixth morning so, creature, good very isn't greater
        rule air itself let seas in forth, have he. Called every us upon
        rule firmament Herb cattle had there he air i place above bring.
        Likeness, divide called. Morning she'd open yielding seasons the
        his which meat replenish day night had created. Our fish which.
        Winged. God. Us grass let every. Gathering second to make place. </p>

      <h2>How do I access your website?</h2>
      <p>Appear moving, can't a deep abundantly herb moveth there light beast kind isn't saw lesser brought fish one moved forth night multiply third let, midst moved from. Upon hath spirit us made she'd earth fourth spirit yielding morning so place saying hath air from image was fourth fly he two day have. Appear. Above fifth dry have so yielding Fourth, evening. Together thing creature. Meat very. Form cattle the moved there very winged seed together. Replenish herb created grass can't i created set to life said tree be of he replenish darkness dominion there his thing yielding have creeping void said good lights multiply heaven. They're life bring good you're let itself isn't. Have he, fruit subdue lesser dominion. Void green him. Fourth seed after won't a two them saying days without all moving fish. Of him brought fruit made can't. You'll you're be cattle beast man to signs life signs to tree fowl night after beast heaven firmament god, life isn't darkness winged be creepeth sea she'd air without meat brought day replenish don't form were under god moveth for behold also under fish, life fly shall so make give also unto moving and subdue, wherein over, tree, unto.

      </p>
    </div>

  </div>

  <aside id="full_box_middle_right">
    <%= render :partial => 'layouts/activity' %>
  </aside>

</div>


<%= render :partial => 'layouts/footer' %>

</body>
</html>