
<h2>Activity</h2>


<div class="full_box_middle_right_activity">
  <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

  <div id="full_box_middle_right_text">
    <p>Action</p>
    <h3>Uploaded picture</h3>
    <p>10 hrs ago</p>
  </div>

</div>

  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>


  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>


  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>


  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>

  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>

  <div class="full_box_middle_right_activity">
    <img src="../images/blank-profile-picture.png" width="70" height="70" alt="Image">

    <div id="full_box_middle_right_text">
      <p>Action</p>
      <h3>Uploaded picture</h3>
      <p>10 hrs ago</p>
    </div>
  </div>


