
<div id="full_box_header">


  <div id="header_links_logo">

    <img href="../"  src="../../images/logi_inverted.png" alt="Website logo">

    <a id="site_name" href="/welcome/index" >PAGENAME</a>

  </div>




  <div id="header_links">
    <a href="../welcome/index">Home</a>
    <a href="../gallery/gallery">Gallery</a>
    <a href="../contacts/new">Contacts</a>
    <a href="../faq/faq">FAQ</a>

    <!--
        <a href="../schema">Schema</a>
    -->

  </div>

  <div id="header_links_buttons">
    <button type="submit">Login</button>
    <button type="submit">Register</button>
  </div>



</div>